@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'Red Hat Display';
	src: url('/fonts/RedHatDisplay.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Screen reader only utility class */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.mask-dots {
	-webkit-mask-image: url('/masks/dots.svg');
	mask-image: url('/masks/dots.svg');
	-webkit-mask-repeat: repeat-x;
	mask-repeat: repeat-x;
	-webkit-mask-size: 2.8125rem 2.5rem;
	mask-size: 2.8125rem 2.5rem;
	-webkit-mask-position: left center;
	mask-position: left center;
}
